@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@700&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */
/* Reset  */
*{
color: #312a26;
/* remove all spaces between the elements */
margin: 0;
/* remove all spaces inside the elements */
padding: 0;
/* remove all lines */
border: none;
outline: none;
/* include the padding and the border on the total width of an elements */
box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

p,
input,
span,
label,
a{
  font-family: 'Open Sans', sans-serif;
}
/* Header Area */
.nav{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
/* what will happen to the container if the contents will over flow */
/* add scroll bar when needed */
  overflow: auto;
}

/* combinator */
/* Parent Child  */
.nav h1{
  width: 50%;
  float: left
}

.nav ul{
  width: 50%;
  float: left;
  text-align: right;
  margin-top: 10px;
}

.nav li{
    display: inline;
    margin-left: 10px;
  }

.nav a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.nav h1 a {
   text-transform: capitalize;
}

/* <!-- Banner area --> */
/* width100%
height650px */
.banner{
  height: 650px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  overflow: auto;
  margin-bottom: 5%;
}

.banner-text{
  width:30%;
  margin-top: 10%;
  margin-left: 7.5%

}

.banner-text h2{
  font-size: 75px;
  line-height: 75px;
}

.banner-text h2 span{
  color: #4caf50;
  font-family: 'Oswald', sans-serif;
}

.banner-text p{
  font-style: italic;
  margin-bottom: 15px; 
}

.banner-text a{
  color: white;
  background-color: #312a26;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
}

/* <!-- Ads 1 Area --> */
.ads{
  width: 85%;
  margin: 0 auto 5%;
  overflow: auto;
}
.ads .ads-box{
  width:49.5%;
  height:350px;
  float:left;
  background-color: rgb(167, 18, 18);
}

.ads-item1{
  margin-right: 1%;
  background-image: url("../img/ads1.jpg");
  background-size: cover;
  background-position: center;
}
.ads-item2{
  background-image: url("../img/ads2.jpg");
  background-size: cover;
  background-position: center;
}

.ads-text {
  width:25%;
  margin-top: 15%;
  margin-left: 10%;
}
.ads-text h3{
  color: white;
  width:25%;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 20px;
}

.ads-text a{
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* <!-- Marchandise Area  --> */
.div-title{
  text-align: center;
  margin-bottom: 5%;
}

.div-title span{
color: #c7a17a;
font-size: 20px;
font-style: italic;
}

.div-title h2{
font-size: 40px;
margin-bottom: 20px;
}

.div-title hr{
  width: 10%;
  height: 4px;
  background-color: #c7a17a;
  margin-left: auto;
  margin-right: auto;
}

/* merch-gallery */
.merch-gallery {
  width: 85%;
  margin: 0 auto 5%;
  overflow: auto;
            }

.merch-item {
  width: 24.25%;
  float: left;
}

.merch-item img{
    width: 100%;
}

.item1,
.item2,
.item3,
.item5,
.item6,
.item7 {
  margin-right: 1%;
}

.item1,
.item2,
.item3,
.item4{ 
  margin-bottom: 1%;
}

.merch-item span,
.merch-item p{
  color: #c7a17a;
}
/* <!-- Ads big area  --> */
/* paretnt */
.ads-big{
  width: 85%;
  height: 400px;
  margin: 0 auto 5%;
  background-image: url("../img/ads-big.jpg");
  background-size: cover;
  background-position: center;
  position: relative;   
}

/* child  */
.ads-big-text{
text-align:center;
border: 2px red;
position: absolute;
top: 50%;
left: 50%; 
transform:translate(-50%,-50%);
}

.ads-big-text span{
  color: #c7a17a;
  font-style: italic;
  font-size: 25px;
}

.ads-big-text h2{
  color:  white;
  font-size: 40px;
}

.ads-big-text a {
background-color: white;
padding:15px 20px;
text-decoration: none;
font-weight:800;
display:inline-block;
}

/* <!-- Ads 2 Area --> */
.ads-item3{
  margin-right: 1%;
  background-image: url("../img/ads3.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 1%;
}
.ads-item4{
  background-image: url("../img/ads4.jpg");
  background-size: cover;
  background-position: center;
}
.ads-item5{
   margin-right: 1%;
   background-image: url("../img/ads5.jpg");
   background-size: cover;
   background-position: center;
}
.ads-item6{
   background-image: url("../img/ads6.jpg");
   background-size: cover;
   background-position: center;
}

/* <!--Reservation area--> */
.reservation{
  width:85%;
  margin:0 auto 5%;
  overflow: auto;
}

.left,
.right{
  width:49.5%;
  float: left;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 15px;
}

.left{
  margin-right: 1%;
}

.res-form label{
font-weight: 700;
display: block;
}

.res-form input,
.res-form select,
.res-form textarea{
  display: block;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  padding:10px;
  margin-bottom: 10px;
}

.res-form .right .cards{
  margin-bottom: 10px;
}

#am,
#pm,
#agree,
.res-form .form-inline{
 display: inline;
 width: auto;
}

.res-form h3,
.res-form p{
 text-align: center;
}

.res-form input[type=submit]{
  background-color: #4caf50;
  color:white;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 20px;


}

/* <!-- footer1 area --> */
.footer1{
  background-image: url("../img/footer-image.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 3%;
  padding-bottom: 3%;

}

.footer-content{
width: 85%;
margin-left:auto;
margin-right: auto;
overflow: auto;
}

/* > select all direct child that are diveelemnts */
.footer1 .footer-content > div{
  width: 24.25%;
  float: left;
  /* background-color: #d4d4d4; */
}

.opening,
.latest-post,
.contact{
  margin-right: 1%;

}

.footer-content h3{
  color: white;
  margin-bottom: 15px;
}

.opening th{
  color: white;
  font-family: 'Oswald', sans-serif;
}
.opening td{
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.latest-post h4{
  color:white
}

.latest-post p{
  color:#c7a17a;
}

.contact .email{
  color:#c7a17a;
}

.contact p{
  color:white;
  font-weight: 700;
}

.contact .td-post{
  margin-top: 15px;
}

.contact input{
  padding: 10px
}

.contact #search-button{
  background-color:#c7a17a;
}

.location h4{
  color:#c7a17a;
  margin-top: 15px;
}

.location p{
  color:white;
  font-weight: 700;
}

/* <!--Footer2 area--> */
.footer2{
  background-color: black;
}

.logo h1{
  color:white;
  font-size: 24px;
}

.social{
margin-top:  5px;
}

.social li{
display: inline;
margin-left: 5px;
margin-right: 5px;
}

.social a{
  color:white;
  text-decoration: none;
  font-weight:700;
}

.copyright p{
  color:white;
  font-weight:700;

}

.footer2 .footer-content >div{
  width: 32%;
  float: left;
}

.logo,
.social {
  margin-right: 2%;
}

.social li{
text-align: center;
}

.copyright{
text-align: right;
}
